.notes-section {
  height: 100%;
}
.notes-section ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin-left: 0px;
  
}
input:focus{
  outline: none;
}
.input{
    width: 100%;
    height: 34px;
    background-color:#212121;
    margin-top: 15px;
    color: white;
}
.create{
  float: right;
  cursor: pointer;
  font-size: 30px;
  padding-right: 5px
}
.delete {
  float: right;
    padding-top: 9px;
    margin-right: 10px;
    cursor: pointer;
}
.notes-section ul > li {
  text-align:left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  border-bottom: 0.5px white solid;
  cursor: pointer;
}
.notes-section ul>li:hover{
   background-color: lightgray;
}